
.tot-body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.pro-img{
    border-radius:50%;
    overflow: hidden;
    border: 1px solid black;
}

.user-image img{
    height:100px;
    width: 100px;
}