.header{
    background: #D12938;
    border-radius: 0 0 8px 8px;

}
.title h1{
     font-family: "Karantina", system-ui;
     /* font-weight: 500; */
     -webkit-text-stroke:1.2px #000;
     /* font-size: 35px; */
    color: #FFEFCD;
    margin: 0;
    /* transform: scaleX(0.8); */
}

.head-controls{
    color: #FFEFCD;
    -webkit-text-stroke: 1px #000;
}

/* TOGGLE SWITCH */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position:absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .fa-ellipsis-vertical{
    transform: rotate(90deg);
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: -.2rem;
  }

  .user{
    background-color: transparent;
  }
  .user:hover,.userfocus:hover {
    cursor: pointer;
  }

  .user:hover{
    color: #f3c769;
  }

  .userfocus {
    color: #f3c769;
  }
